body, html {
  display: block;
  flex-direction: column;
  margin: 0 10px 0 0;
}

button {
  display: block;
}

#top {
  display: flex;
  margin-bottom: 5px;
}

#canvas {
  cursor: crosshair;
  margin-right: 5px;
}
