body, html {
  display: block;
  flex-direction: column;
  margin: 0 10px 0 0;
}

@media (min-width: 1200px) {
  button {
    display: block;
  }

  #top {
    display: flex;
    margin-bottom: 5px;
  }

  #intro {
    margin: 8px;
  }

  #canvas {
    cursor: crosshair;
    margin-right: 5px;
  }

  #sidebar {
    word-wrap: normal;
    max-width: 200px;
  }

  .greyer-canvas {
    background-color: #f0f0f0;
  }

  #sorry {
    display: none;
  }
}

@media (max-width: 1200px) {
  #sorry {
    display: block;
  }

  #top {
    display: none;
  }
}
