body, html {
  display: block;
  flex-direction: column;
  margin: 0 10px 0 0;
}

button {
  display: block;
}

#top {
  display: flex;
  margin-bottom: 5px;
}

#intro {
  margin: 8px;
}

#canvas {
  cursor: crosshair;
  margin-right: 5px;
}

.greyer-canvas {
  background-color: #f0f0f0;
}
